html {
  font-size: 10px;
  background: url(/img/3.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
/*  min-height: 100vh;*/
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}
.keys2 {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.key {
  border: .5rem solid #2B65EC;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .15s ease;
  width: 10rem;
  text-align: center;
  color: #D1D0CE;
  background: #659EC7;
  text-shadow: 0 0 .5rem #2B65EC;
}

.playing {
  transform: scale(1.1);
  border-color: #F0FFFF;
  box-shadow: 0 0 2rem #CCFFFF;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #50EBEC;
}
